.container {
  width: 50%;
  height: 100vh;
  margin: 5% 25%;
}

.title {
  font-size: 2rem;
}
.one {
  margin-left: 15%;
  font-weight: bold;
}
.two {
  margin-left: 35%;
}

.tree {
  margin-left: 45%;
  margin-bottom: 7%;
  text-decoration: underline var(--orange);
}

.form {
  border: 3px solid var(--orange);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0.4em var(--orange);
}

.form input {
  width: 80%;
  height: 40px;
  margin: 5% 0 0% 10%;
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 5px;
}

.form input::placeholder {
  padding: 10px;
  font-size: 0.9rem;
}

.titleRegister{
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 40%;
}

.button {
  width: 40%;
  height: 30px;
  margin-left: 30%;
  margin-top: 5%;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.5s;
}

.button:hover{
    color: var(--orange);
    border: 2px solid var(--orange);    
}

.erro{
  color: var(--red);
  font-weight: bold;
  margin-left: 10%;
}

.login {
  margin-top: 3%;
  margin-left: 25%;
}



@media (max-width: 450px) {
  .login {
    margin-top: 5%;
    margin-left: 5%;
  }
  
  .title {
    font-size: 1.2rem;
  }

  .titleRegister{
    font-size: 1.2rem;
  }

  .container{
    width: 90%;
    margin: 5%;
  }
}

@media (max-width: 950px) {
  .title {
    margin-top: 10%;
  }

  .titleRegister{
    font-size: 1.5rem;
    margin-left: 30%;
  }

  .container{
    width: 90%;
    margin: 5%;
  }

  .form {
    margin-top: 20%;
  }

  .form input {
    height: 50px;
    font-size: 1.2rem;
  }
}

